
<div class="login-form">
    <form>
        <input class="form-input" type="text" name="userName" placeholder="Username">
        <input class="form-input" type="text" name="password" placeholder="Password">
        <button class="form-input" type="submit">Login</button>
    </form>
</div>
