.login-form {
    min-width: 500px;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #eae9e9;
    border-radius: 4px;
    box-sizing: border-box;
    color: #16396b;
    background-color : rgba(248, 247, 247, .5)
;
}
.button {
    width: 100%;
    background-color: #16396b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

::placeholder {
    color: #16396b;
    opacity: 0.7; /* Firefox */
}

.error-message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffc3c3;
    border-radius: 4px;
    box-sizing: border-box;
    color: #d47575;
    background-color : #fff0f0;
    text-align: center;
}

textarea {
    resize: vertical
}